<h1>Followers</h1>
<%= @following.followed.followers.each do |follower|%>
  <%=link_to follower.follower.username, user_path(follower)%>
<%end%>

<h1>Following</h1>
<%= @user.followeds.each do |followed|%>
  <%=link_to followed.followed.username, user_path(follower)%>
<%end%>