/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    width: 100%;
    height: auto;
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
 
 .edit_user{
   margin: 3%;
   text-align: center;
   border: 3px solid;
   border-radius: 10px;
   border-color: #27AAE1;
   box-shadow:1px 3px 1px grey;
   margin-left: 24%;
   margin-right: 24%;
 }
 
 #picture_image_url{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
 #picture_title{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
 #comment_content{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
   width: 20%;
 }
 
 #user_profile_pic{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
 }
 
 #username{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
 #password{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
 #user_username{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
 #user_email{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
     margin: 1%;
 }
 
 #user_password{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
     margin: 1%;
 }
 
 #user_password_confirmation{
   border-style: solid 5px;
   border-radius: 6px;
   border-color: #27AAE1;
   margin: 1%;
 }
 
  .banner_img{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
 }
 
 
 
 @keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
  }
 
  div.picture_grid_user_show{
    height: auto;
    max-width: 100%;
    margin-right: 8%;
    margin-left: 8%;
    column-count: 2;
  }
 
 
 
  h1{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    color: #27AAE1;
    font-size: 3vw;
    font-size: 5vw;
  }
 
  h1.username_profile{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: #27AAE1;
    font-size: 3vw;
    font-size: 5vw;
    border: 3px solid;
    border-color: #27AAE1;
    box-shadow:1px 3px 1px grey;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
 
  }
 
  h2{
    text-align: center;
    color: #27AAE1;
 
  }
 
  h3{
    text-align: center;
    color: #27AAE1;
 
  }
 
  h4{
    text-align: center;
    color: #27AAE1;
 
  }
 
  h4.users_you_may_know{
    color: white;
    text-align: center;
    margin: 10%;
    margin-bottom: 2%;
    margin-top: 0;
    margin-left: 10%;
    padding-bottom: 1.7%;
    font-size: 1.5vw;
 
  }
 
  div.followers_show_page{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid black;
    border-color: #27AAE1;
    box-shadow:1px 3px 1px grey;
    margin-top: 0;
    border-radius: 10px;
    width: 35%;
  }
 
 
  div.following_show_page{
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid black;
    border-color: #27AAE1;
    box-shadow:1px 3px 1px grey;
    margin-top: 0;
    border-radius: 10px;
    width: 35%;
  }
 
  div.users_you_may_know_div{
    float: left;
    margin-left: 3%;
    margin-right: 1%;
    border: 3px solid black;
    border-color: #27AAE1;
    box-shadow:1px 3px 1px grey;
    margin-top: 0;
    border-radius: 10px;
    width: 35%;
  }
 
 div.index_pictures{
   float: right;
   width: 45%;
   margin-right: 10%;
   column-count: 2;
   padding-bottom: 1
 }
 
 p {
   text-align: center;
 }
 
 img.single_index_pictures{
   border-radius: 10px;
   width: 100%;
   height: auto;
   box-shadow:1px 3px 1px grey;
 }
 
 div.index_picture_child{
   margin: 5%;
   width: auto;
   height: auto;
   border-radius: 10px;
 }
 
 .reaction:hover{
    transform: scale(0.9);
 }
 
 div.reactions{
   margin-left: 34.75%;
 }
 
 p.comments{
   font-size: 2vw;
 
 }
 
 div.individual_user_on_index{
   background-color: #27AAE1;
   color: white;
   display: center;
   border-radius: 5px;
   border-color: #27AAE1;
   padding-top: 1%;
   margin: 10%;
   margin-left: 30%;
   margin-right: 30%;
   display: block;
 }
 
 div.individual_user_on_index:hover{
   transform: scale(1.1);
 }
 
 
  .sign_out{
    float: right;
    margin-right: 5%;
  }
 
  .sign_out:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
  .comment_button{
      background-color: #27AAE1;
      color: white;
      display: center;
      border-radius: 5px;
      border-color: #7FDBFF;
      margin: 0;
      width: 10%;
  }
 
  .comment_button:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
  .follow {
    background-color: #27AAE1;
    color: white;
    display: center;
    border-radius: 5px;
    border-color: #7FDBFF;
    margin: 0;
  }
 
  .follower_following{
    display: block;
    text-align: center;
  }
 
  .follow:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
  .sign_in_button{
    background-color: #27AAE1;
    color: white;
    display: center;
    border-radius: 5px;
    border-color: #7FDBFF;
    margin: 0;
  }
 
  .sign_in_button:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
 div.sign_in_form {
   border: 3px solid black;
   border-color: #27AAE1;
   box-shadow:1px 3px 1px grey;
   margin: 25%;
   margin-top: 0;
 }
 
  .sign_in_form {
   text-align: center;
   border-radius: 10px;
   border-color: #27AAE1;
   padding-top:2%;
   padding-bottom:2%;
  }
 
  img.user_img {
    width: 30%;
    height: auto;
    border-radius: 5px;
  }
 
  img.user_img:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
   transform: scale(0.9);
  }
 
  img.show_img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
         -ms-animation: fadein 3s; /* Internet Explorer */
          -o-animation: fadein 3s; /* Opera < 12.1 */
             animation: fadein 3s;
   }
 
 
  h4.following_list{
    background-color: #27AAE1;
    color: white;
    display: center;
    border-radius: 5px;
    border-color: #7FDBFF;
    margin-left: 44%;
    margin-right: 44%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
 
  .delete_account {
    z-index: 5;
    background-color: #27AAE1;
    color:white;
    padding-bottom: 1.8%;
    padding-top: 1%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-bottom: solid 1px grey;
    width: 100%;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    height: 4%;
    text-align: center;
  }
 
 .delete_account li{
   z-index: 5;
      background-color: #27AAE1;
      color:white;
   margin-top: 0.6%;
 }
 
  .delete_account li:hover{
      color: white;
   transform: scale(1.1);
  }
 
  .following {
    text-align: center;
    margin: 2%;
  }
 
  .unfollow{
    background-color: #27AAE1;
    color: white;
    display: center;
    border-radius: 5px;
    border-color: #7FDBFF;
    margin: 0;
  }
 
  .tags{
    color: #7FDBFF;
  }
 
  .tags:hover{
    color: #7FDBFF;
  }
 
  div.tags_list{
    text-align: center;
  }
 
  .unfollow:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
  .header {
   z-index: 5;
      background-color: #27AAE1;
      color:white;
      padding-bottom: 1%;
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
   margin-bottom: 0;
   margin-top: 0;
   width: 100%;
   position: fixed;
   top: 0;
   box-shadow: 0 1px 2px #1E90FF;
   height: 5%;
  }
 
 
 
  ul li {
      display:inline-block;
   height: 3px;
   margin: .2%;
   margin-top: 0;
      padding: 0;
  }
 
  .hello_user {
    float: right;
    margin-right: 2%;
    display: inline-block;
    margin-top: 1.5%;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
 
  div.upload_pic_form{
 
  }
 
  .new_picture{
    margin: 3%;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    border-color: #27AAE1;
    box-shadow:1px 3px 1px grey;
    margin-left: 24%;
    margin-right: 24%;
  }
 
 .upload_pic_button{
    background-color: #27AAE1;
    color: white;
    display: center;
    border-radius: 5px;
    border-color: #7FDBFF;
    margin: 4%;
  }
 
  .upload_pic_button:hover{
      color: white;
      box-shadow:1px 3px 1px grey;
    transform: scale(1.1);
  }
 
  li.delete_pic{
    margin-left: 43.5%;
 
  }
 
  ul.header li :hover{
      color: white;
   transform: scale(1.3);
  }